* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Open Sans';
  color: white;
}

.container {
  margin: 0 auto;
  width: 80%;
}

$colors: (
  primary: #1f5d6a,
  text-color: #1d5c68,
  border-color: #d4d8d9,
  footer-color: #2d4e55,
  footer-color-bottom: #1b373b,
  icon-color: #0093af
  );

@function color($color-name) {
  @return map-get($colors, $color-name);
};