* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Open Sans';
  color: #969696;
  padding: 0;
}

$icons: (
  airplane: url("../assets/icons/icon-airplane.svg"),
  earth: url("../assets/icons/icon-earth.svg"),
  compass: url("../assets/icons/icon-compass.svg"),
  facebook: url("../assets/icons/icon-facebook.svg"),
  heart: url("../assets/icons/icon-heart.svg"),
  instagram: url("../assets/icons/icon-instagram.svg"),
  search: url("../assets/icons/icon-search.svg"),
  sun: url("../assets/icons/icon-sun.svg"),
  twitter: url("../assets/icons/icon-twitter.svg")
);

$colors: (
  primary: #1f5d6a,
  text-color: #1d5c68,
  border-color: #d4d8d9,
  footer-color: #2d4e55,
  footer-color-bottom: #1b373b,
  icon-color: #0093af
);

@function icons($icon-name){
  @return map-get($icons, $icon-name);
}

@function color($color-name) {
  @return map-get($colors, $color-name);
};